<%= form_for(@meeting) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="control-group">
      <%= f.label :meeting_date %><br />
      <%= f.datetime_select :meeting_date,
                            { prompt: {minute: 'Choose minute',
                                       hour: 'Choose hour',
                                       day: 'Choose day',
                                       onth: 'Choose month',
                                       year: 'Choose year' } },
                            { class: 'span2' } %>
      <%= f.hidden_field :thesis_id %>
    </div>
    <div class="control-group">
      <% if @meeting.id.nil? %>
          <%= f.submit 'Create meeting', class: 'btn btn-primary' %>
      <% else %>
          <%= f.submit 'Edit meeting', class: 'btn btn-primary' %>
      <% end %>
    </div>
<% end %>
