<h1 class="text-center">New product</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@product) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="control-group">
          <%= f.label :Description %>
          <%= f.text_field :description, class: 'span6' %>
          <%= f.hidden_field :thesis_id %>
        </div>

        <div class="control-group">
        <%= f.submit 'Create product', class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>